<br>
<h1>Items</h1>
<br>

<div>
<% if @items.count == 0 %>
        <p>Click "Add new item" to create a new item.</p>
    <% else %>
    <table class="table table-bordered table-sm" >
        <thead>
            <th>Item</th>
            <th>Description</th>
            <th>Warehouses</td>
        </thead>
        <tbody>
            <% @items.order(:name).each do |item| %>
            <tr>
                <td><%= link_to item.name, item_path(item) %></td>
                <td><%= item.description %></td>
                <td>
                    <% if item.warehouses.count == 0 %>
                        <p>This item is currently sold out</p>
                    <% else %>
                        <% item.warehouses.each do |warehouse| %>
                            <li><%= warehouse.name %>, <%= warehouse.location %></li>
                        <% end %>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <% end %>
</div>

<div style="display: flex;">
    <%= button_to "Add new item", new_item_path, class:"btn btn-primary", method: :get %>&nbsp
    <%= button_to "View Warehouses", warehouses_path, class:"btn btn-primary", method: :get %>
</div>
