<br>
<h1>Item: <%= @item.name %></h1>
<p>Description: <%= @item.description %></p><br>

<h2>Warehouse Locations</h2>
<br>
<% if @item.warehouses.count == 0 %>
    <p>There are no warehouses linked to this item</p>
<% else %>
    <div class="table-responsive-sm">
        <table class="table table-bordered table-sm" style="width:75%">
        <thead>
            <th>Name</th>
            <th>Location</th>
        </thead>
        <tbody>
        <% @item.warehouses.each do |f| %>
        <tr>
            <td><%= f.name %></td>  
            <td><%= f.location %></td>
        <tr>
        <% end %>
        </tbody>
        </table>
        </div>
    
<% end %>
<br>
<div style="display: flex;">
    <%= button_to "Edit Item", edit_item_path, class:"btn btn-primary", method: :get %>&nbsp
    <%= button_to "Delete Item", item_path, class:"btn btn-primary", method: :delete %>&nbsp
    <%= button_to "Return to Items", items_path, class:"btn btn-primary",  method: :get %>
</div>