<br>
<h1>Add warehouse</h1>

<% if flash[:errors] %>
    <div class="alert alert-danger">
        <% flash[:errors].each do |error| %>
            <p><%= error %></p>
        <% end %>
    </div>
<% end %>

<div class ='row'>
    <div class = 'col-xs-12'> <!-- Spans all 12 columns of the grid -->
        <%= form_for @warehouse do |f| %>
        <div class = "form-group">       <!-- form for name -->
            <div class = "control-label col-sm-2">
                <%= f.label :name %>
            </div>
            <div class = "col-sm-8">
                <%= f.text_field :name, class: "form-control", placeholder: "Warehouse name", autofocus:true %>
            </div>
            <br>
            <div class = "form-group">      <!-- form for location -->
                <div class = "control-label col-sm-2">
                    <%= f.label :location %>
                </div>
                <div class = "col-sm-8">
                    <%= f.text_area :location, rows: 1, class: "form-control", placeholder: "Location", autofocus:true%>
                </div>
            </div>
            <br>
            <h2>Add Items</h2>
            <% if Item.all.count == 0 %>
                    <p>There are no items available. Create a new item in the items page.</p>
                <% else %>
            <br>
            <div class = "form-group">     <!-- form for button -->
                <div class = "row">
                    <div class ="col-sm-offset-2 col-sm-8">
                        <%= f.collection_check_boxes :item_ids, Item.order(:name), :id, :name do |cb| %>
                            <div class="form-check"><%= cb.label(class: "checkbox-inline input_checkbox") { cb.check_box(class: "checkbox form-check-input") + cb.text} %></div>
                        <% end %>
                    </div>
                </div>
            </div>
            <% end %>
            <br>
            <div class = "form-group">     <!-- form for button -->
                <div class ="col-sm-offset-5 col-sm-10">
                    <%= f.submit class: 'btn btn-primary' %>
                </div>
            </div>
        <% end %>
    </div>
</div>

<div style="padding-top: 5px;">
<%= button_to "Cancel", warehouses_path, class: 'btn btn-primary', method: :get %>
</div>